* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.link-novigation {
    padding-top: 40px;
    padding-bottom: 40px;
}

.novigation {
    padding-top: 11px;
    padding-bottom: 11px;

}

.color-novigation {
    color: #000000;
}

.color-home {
    color: #F25822;
}

main {
    margin-top: 42px;
    margin-bottom: 162px;
}

h1 {
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

p {
    color: #888888;
    font-size: 20px;
    line-height: 23px;
}

.button {
    margin-top: 37px;
}

.btn {
    padding: 15px 35px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.link-video {
    margin-top: 52px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logos {
    padding-top: 96px;
    padding-bottom: 96px;
}